.parent{
background-color: blue;
  display: flex;

}
.child{
   
     width: 200px ;
     height:200px ;
    margin: 10px;
    padding: 20px;
     margin-bottom: 60px;

    background-color: white;
  
}